{{!< default}}
{{#contentFor 'title'}}Sign In{{/contentFor}}
{{#contentFor 'style'}}
  <link rel="stylesheet" type="text/css" href="{{cacheBusting '/build/login.css' ''}}">
{{/contentFor}}
{{#contentFor 'script'}}<script src="{{cacheBusting '/build/login.js' ''}}"></script>{{/contentFor}}
<!--begin::Authentication - Signup Welcome Message -->
<div class="d-flex flex-column flex-center flex-column-fluid">
  <!--begin::Content-->
  <div class="d-flex flex-column flex-center text-center p-10">
    <!--begin::Wrapper-->
    <div class="card card-flush w-lg-650px py-5">
      <div class="card-body py-15 py-lg-20">
        <!--begin::Logo-->
        <div class="mb-13">
          <a href="#!">
            <img alt="Logo" src="/build/media/logos/default.svg" class="theme-light-show h-40px">
            <img alt="Logo" src="/build/media/logos/default-dark.svg" class="theme-dark-show h-40px">
          </a>
        </div>
        <!--end::Logo-->
        <!--begin::Title-->
        <h1 class="fw-bolder text-gray-900 mb-7">Sign In</h1>
        <!--end::Title-->
        <!--begin::Form-->
        <form data-ref="loginForm" class="w-md-350px mb-2 mx-auto" novalidate="novalidate">
          <!--begin::Input group=-->
          <div class="fv-row mb-8">
            <!--begin::Email-->
            <input type="email" placeholder="Email" name="email" class="form-control bg-transparent" autocomplete="off" autofocus value="robin@example.com" />
            <!--end::Email-->
          </div>
          <!--end::Input group=-->
          <div class="fv-row mb-8">
            <!--begin::Password-->
            <input type="password" placeholder="Password" name="password" class="form-control bg-transparent" autocomplete="off" value="password" />
            <!--end::Password-->
          </div>
          <!--end::Input group=-->
          <!--begin::Submit button-->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">
              <!--begin::Indicator label-->
              <span class="indicator-label">Sign In</span>
              <!--end::Indicator label-->
              <!--begin::Indicator progress-->
              <span class="indicator-progress">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
              <!--end::Indicator progress-->
            </button>
          </div>
          <!--end::Submit button-->
        </form>
        <!--end::Form-->
      </div>
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Content-->
</div>
<!--end::Authentication - Signup Welcome Message-->