node_modules/
src/
rollup.config.js
tsconfig.json
demo/.env
!demo/.env.sample
demo/node_modules/
docs/node_modules/
docs/src/
docs/compile-documentation.js
docs/package.json
docs/package-lock.json