{{!< default}}
{{#contentFor 'title'}}Database Class{{/contentFor}}
{{#contentFor 'style'}}
<style>
.anchor .extends {
  display: inline-block;
  margin-left: 0.75rem;
  color: var(--bs-text-gray-700);
}

  .anchor .extends a {
    display: inline;
    width: auto;
    margin-left: 0;
    font-size: inherit;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  }

  .anchor .extends a:hover {
    color: rgba(var(--bs-link-hover-color-rgb), var(--bs-link-opacity, 1));
  }

    .anchor .extends a::before {
      content: none;
    }
</style>
{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#instance-methods" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Instance Methods</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Database Class
    <span class="extends">
      extends <a href="https://sequelize.org/api/v6/class/src/sequelize.js~sequelize" target="_blank">sequelize.Sequelize</a>
    </span>
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    This is the class that makes the database connection.<br>
    See <a href="https://sequelize.org/api/v6/class/src/sequelize.js~sequelize" class="fw-semibold" target="_blank">here</a> for other available methods.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="instance-methods" data-kt-scroll-offset="100">
    <a href="#instance-methods"></a>Instance Methods
  </h1>
  <!--end::Heading-->
  <!--begin::Table wrapper-->
  <div class="table-responsive">
    <!--begin::Table-->
    <table class="table table-row-bordered mb-0 gy-5">
      <!--begin::Head-->
      <thead>
        <tr class="p-6">
          <th class="min-w-250px">Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <!--end::Head-->
      <!--begin::Body-->
      <tbody>
        <tr>
          <td><code>public constructor()</code></td>
          <td>Instantiate sequelize with name of database, username and password.</td>
        </tr>
        <tr>
          <td><code>public isConnect()</code></td>
          <td>
            Test the connection by trying to authenticate. It runs <code>SELECT 1+1 AS result</code> query.
            <!--begin::Heading-->
            <div class="py-3 text-gray-700">Return value:</div>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;boolean&gt;</code> Returns <code>true</code> if it can connect to the database, <code>false</code> if it cannot.</li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#is-connect-method-esm-tab" role="tab">ESM</a></li>
                  <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#is-connect-method-cjs-tag" role="tab">CJS</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="is-connect-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;
  
const isConnected = await sweet.database.Database.isConnect();</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="is-connect-method-cjs-tag" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const database = require(&#039;express-sweet&#039;).database.Database;
  
const isConnected = await database.isConnect();</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
      </tbody>
      <!--end::Body-->
    </table>
    <!--end::Table-->
  </div>
  <!--end::Table wrapper-->
</div>
<!--end::Section-->