{{!< default}}
{{#contentFor 'title'}}FaceDetails Interface{{/contentFor}}
{{#contentFor 'style'}}
<style>
/*Hide side navigation*/
#kt_app_sidebar_navs {
  display: none;
}
</style>
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5">FaceDetails Interface</h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    Details of each face found in the image.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <div class="fs-2 py-5">Instance Properties</div>
    <!--end::Heading-->
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>boundingBox: <a href="bounding-box-interface.html">BoundingBox</a></code></td>
            <td>Bounding box of the face.</td>
          </tr>
          <tr>
            <td><code>ageRange?: {high: number, low: number}</code></td>
            <td>
              The estimated age range, in years, for the face.<br>
              Low represents the lowest estimated age and High represents the highest estimated age.
            </td>
          </tr>
          <tr>
            <td><code>gender?: &#039;male&#039;|&#039;female&#039;</code></td>
            <td>The predicted gender of a detected face.</td>
          </tr>
          <tr>
            <td><code>emotions?: <a href="face-details-emotions-interface.html">FaceDetailsEmotions</a></code></td>
            <td>Emotions detected from the face.</td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->