{{!< default}}
{{#contentFor 'title'}}FaceMatch Interface{{/contentFor}}
{{#contentFor 'style'}}
<style>
/*Hide side navigation*/
#kt_app_sidebar_navs {
  display: none;
}
</style>
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5">FaceMatch Interface</h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    This is the metadata structure of the bounding box coordinates, reliability (the bounding box contains a face), face ID,<br>
    etc. returned by the <code>searchFaces()</code>, <code>listFaces()</code> methods, etc.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <div class="fs-2 py-5">Instance Properties</div>
    <!--end::Heading-->
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>faceId: string</code></td>
            <td>A unique identifier assigned to the face.</td>
          </tr>
          <tr>
            <td><code>boundingBox: <a href="bounding-box-interface.html">BoundingBox</a></code></td>
            <td>
              Bounding box of the face.
              <ul>
                <li class="py-2">width: Width of the bounding box as a ratio of the overall image width.</li>
                <li class="py-2">height: Height of the bounding box as a ratio of the overall image height.</li>
                <li class="py-2">left: Left coordinate of the bounding box as a ratio of overall image width.</li>
                <li class="py-2">top: Top coordinate of the bounding box as a ratio of overall image height.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><code>externalImageId?: string</code></td>
            <td>Identifier that you assign to all the faces in the input image.</td>
          </tr>
          <tr>
            <td><code>similarity?: number</code></td>
            <td>
              Confidence in the match of this face with the input face.<br>
              Valid Range: Minimum value of 0. Maximum value of 100.
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->