{{!< default}}
{{#contentFor 'title'}}Facial Recognition Overview{{/contentFor}}
{{#contentFor 'style'}}
<style>
/*Hide side navigation*/
#kt_app_sidebar_navs {
  display: none;
}
</style>
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5">Facial Recognition</h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    It recognizes, detects, and compares faces.<br>
    This is an extension of AWS Rekognition, learn more about AWS Rekognition <a href="https://docs.aws.amazon.com/rekognition/latest/dg/what-is.html" class="fw-semibold" target="_blank">here</a>.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->