{{!< default}}
{{#contentFor 'title'}}Overview{{/contentFor}}
{{#contentFor 'style'}}
<style>
/*Hide side navigation*/
#kt_app_sidebar_navs {
  display: none;
}
</style>
{{/contentFor}}
<!--begin::Section-->
<div class="px-md-10 pt-md-10 pb-md-5">
  <!--begin::Block-->
  <div class="text-center mb-20">
    <h1 class="fs-2tx fw-bold">Express Sweet</h1>
    <div class="fw-semibold fs-2 mb-10">Start developing web applications faster with Express Sweet, an extension of Express.</div>
  </div>
  <!--end::Block-->
  <!--begin::Row-->
  <div class="row g-0">
    <!--begin::Col-->
    <div class="col-md-6 mb-10">
      <div class="bg-light bg-opacity-50 rounded-3 p-10 mx-md-5 h-md-100">
        <div class="d-flex flex-center w-60px h-60px rounded-3 bg-light-success bg-opacity-90 mb-10">
          <!--begin::Svg Icon | path: icons/duotune/coding/cod001.svg-->
          <span class="svg-icon svg-icon-success svg-icon-3x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M22.1 11.5V12.6C22.1 13.2 21.7 13.6 21.2 13.7L19.9 13.9C19.7 14.7 19.4 15.5 18.9 16.2L19.7 17.2999C20 17.6999 20 18.3999 19.6 18.7999L18.8 19.6C18.4 20 17.8 20 17.3 19.7L16.2 18.9C15.5 19.3 14.7 19.7 13.9 19.9L13.7 21.2C13.6 21.7 13.1 22.1 12.6 22.1H11.5C10.9 22.1 10.5 21.7 10.4 21.2L10.2 19.9C9.4 19.7 8.6 19.4 7.9 18.9L6.8 19.7C6.4 20 5.7 20 5.3 19.6L4.5 18.7999C4.1 18.3999 4.1 17.7999 4.4 17.2999L5.2 16.2C4.8 15.5 4.4 14.7 4.2 13.9L2.9 13.7C2.4 13.6 2 13.1 2 12.6V11.5C2 10.9 2.4 10.5 2.9 10.4L4.2 10.2C4.4 9.39995 4.7 8.60002 5.2 7.90002L4.4 6.79993C4.1 6.39993 4.1 5.69993 4.5 5.29993L5.3 4.5C5.7 4.1 6.3 4.10002 6.8 4.40002L7.9 5.19995C8.6 4.79995 9.4 4.39995 10.2 4.19995L10.4 2.90002C10.5 2.40002 11 2 11.5 2H12.6C13.2 2 13.6 2.40002 13.7 2.90002L13.9 4.19995C14.7 4.39995 15.5 4.69995 16.2 5.19995L17.3 4.40002C17.7 4.10002 18.4 4.1 18.8 4.5L19.6 5.29993C20 5.69993 20 6.29993 19.7 6.79993L18.9 7.90002C19.3 8.60002 19.7 9.39995 19.9 10.2L21.2 10.4C21.7 10.5 22.1 11 22.1 11.5ZM12.1 8.59998C10.2 8.59998 8.6 10.2 8.6 12.1C8.6 14 10.2 15.6 12.1 15.6C14 15.6 15.6 14 15.6 12.1C15.6 10.2 14 8.59998 12.1 8.59998Z" fill="currentColor"></path>
              <path d="M17.1 12.1C17.1 14.9 14.9 17.1 12.1 17.1C9.30001 17.1 7.10001 14.9 7.10001 12.1C7.10001 9.29998 9.30001 7.09998 12.1 7.09998C14.9 7.09998 17.1 9.29998 17.1 12.1ZM12.1 10.1C11 10.1 10.1 11 10.1 12.1C10.1 13.2 11 14.1 12.1 14.1C13.2 14.1 14.1 13.2 14.1 12.1C14.1 11 13.2 10.1 12.1 10.1Z" fill="currentColor"></path>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <h1 class="mb-5">Install</h1>
        <div class="fs-4 text-gray-600 py-3"><code>express-sweet</code> can be installed and used from NPM.</div>
        <a href="install.html" class="btn btn-lg btn-flex btn-link btn-color-success">Install now 
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon ms-2 svg-icon-3">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
              <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
      </div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-6 mb-10">
      <div class="bg-light bg-opacity-50 rounded-3 p-10 mx-md-5 h-md-100">
        <div class="d-flex flex-center w-60px h-60px rounded-3 bg-light-success bg-opacity-90 mb-10">
          <!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
          <span class="svg-icon svg-icon-success svg-icon-3x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="currentColor"></path>
              <path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor"></path>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <h1 class="mb-5">Reference</h1>
        <div class="fs-4 text-gray-600 py-3">Top of Reference.</div>
        <a href="environment-variable.html" class="btn btn-lg btn-flex btn-link btn-color-success">Learn more 
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon ms-2 svg-icon-3">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
              <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
      </div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-6 mb-10">
      <div class="bg-light bg-opacity-50 rounded-3 p-10 mx-md-5 h-md-100">
        <h1 class="mb-5">Changelog</h1>
        <a href="changelog.html" class="btn btn-lg btn-flex btn-link btn-color-success">Learn more 
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon ms-2 svg-icon-3">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
              <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
      </div>
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
</div>
<!--end::Section-->