{{!< default}}
{{#contentFor 'title'}}Logout Procedure{{/contentFor}}
{{#contentFor 'style'}}
<style>
/*Hide side navigation*/
#kt_app_sidebar_navs {
  display: none;
}
</style>
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5">Logout Procedure</h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    If you want to log out the user, call the <code>express-sweet.services.Authentication.logout()</code> method.<br>
    Invoking <code>logout()</code> will remove the <code>req.user</code> property and clear the login session (if any).
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#logout-esm-tab" role="tab">ESM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#logout-cjs-tab" role="tab">CJS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#logout-html-tab" role="tab">CJS</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="logout-esm-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript"><code class="language-javascript">import {Router} from &#039;express&#039;;
import * as sweet from &#039;express-sweet&#039;;
const router = Router();
const Authentication = sweet.services.Authentication;

router.get(&#039;/logout&#039;, (req, res) =&gt; {
  Authentication.logout(req);
  res.redirect(&#039;/&#039;);
});
export default router;</code></pre>
          </div>
        </div>
        <div class="tab-pane fade" id="logout-cjs-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript"><code class="language-javascript">const express = require(&#039;express&#039;);
const router = express.Router();
const Authentication = require(&#039;express-sweet&#039;).services.Authentication;

router.get(&#039;/logout&#039;, (req, res) =&gt; {
  Authentication.logout(req);
  res.redirect(&#039;/&#039;);
});
module.exports = router;</code></pre>
          </div>
        </div>
        <div class="tab-pane fade" id="logout-html-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html"><code class="language-html">&lt;a href="{{baseUrl}}/api/users/logout"&gt;Logout&lt;/a&gt;</code></pre>
          </div>
        </div>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->