{{!< default}}
{{#contentFor 'title'}}Rekognition Class{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#instance-methods" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Instance Methods</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Rekognition Class
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    Analyzes faces on images and videos using machine learning.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="instance-methods" data-kt-scroll-offset="100">
    <a href="#instance-methods"></a>Instance Methods
  </h1>
  <!--end::Heading-->
  <!--begin::Table wrapper-->
  <div class="table-responsive">
    <!--begin::Table-->
    <table class="table table-row-bordered mb-0 gy-5">
      <!--begin::Head-->
      <thead>
        <tr class="p-6">
          <th class="min-w-250px">Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <!--end::Head-->
      <!--begin::Body-->
      <tbody>
        <tr>
          <td><code>public constructor()</code></td>
          <td>
            Constructs a rekognition client object.
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>options.region: string</code>
                <!--begin::Block-->
                <div class="pt-3">The region to send service requests to.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.accessKeyId: string</code>
                <!--begin::Block-->
                <div class="pt-3">AWS access key ID.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.secretAccessKey: string</code>
                <!--begin::Block-->
                <div class="pt-3">AWS secret access key.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.timeout: number</code>
                <!--begin::Block-->
                <div class="pt-3">Timeout period (milliseconds). Default is 5000.</div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#constructor-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#constructor-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="constructor-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;
            
// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="constructor-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public detectFaces()</code></td>
          <td>
            Detects faces within an image that is provided as input.<br>
            For each face detected, the operation returns a bounding box of the face.
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>img: string</code>
                <!--begin::Block-->
                <div class="pt-3">Image path or Data Url or image buffer.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>minConfidence: number</code>
                <!--begin::Block-->
                <div class="pt-3">The minimum confidence of the detected face. Faces with a confidence lower than this value will not be returned as a result.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>withDetails: boolean</code>
                <!--begin::Block-->
                <div class="pt-3">If false, returns only the face bounding box. When true, returns the age group, gender, and emotion in addition to the face bounding box.</div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Return:</h5>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;<a href="bounding-box-interface.html">BoundingBox</a>[]|<a href="face-details-interface.html">FaceDetails</a>[]&gt;</code> Returns the bounding box of the detected face.</li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#detect-faces-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#detect-faces-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="detect-faces-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;
import fs from &#039;fs&#039;;

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Detects bounding boxes on faces.
// results in:  [
//            {
//              width: 0.3099822998046875,
//              height: 0.661512017250061,
//              left: 0.5449195504188538,
//              top: 0.11531734466552734
//            }
//          ]
let res = await client.detectFaces(&#039;img/face2.jpg&#039;);
console.log(res);

// Detect facial details.
// results in:  [
//            {
//              boundingBox: {
//                width: 0.3099822998046875,
//                height: 0.661512017250061,
//                left: 0.5449195504188538,
//                top: 0.11531734466552734
//              },
//              ageRange: { high: 14, low: 6 },
//              gender: &#039;female&#039;,
//              emotions: {
//                happy: 99.78905487060547,
//                surprised: 6.306276321411133,
//                fear: 5.880091190338135,
//                sad: 2.152125835418701,
//                confused: 0.023256277665495872,
//                angry: 0.018351631239056587,
//                calm: 0.015775982290506363,
//                disgusted: 0.013914424926042557
//              }
//            }
//          ]
const minConfidence = 90;
const withDetails = true;
res = await client.detectFaces(&#039;img/face2.jpg&#039;, minConfidence, withDetails);
console.log(res);

// Detect faces from data URL.
await client.detectFaces(&#039;data:image/png;base64,/9j/4...&#039;);

// Detect faces from buffer.
await client.detectFaces(fs.readFileSync(&#039;img.jpg&#039;));</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="detect-faces-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);
const fs = require(&#039;fs&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Detects bounding boxes on faces.
// results in:  [
//            {
//              width: 0.3099822998046875,
//              height: 0.661512017250061,
//              left: 0.5449195504188538,
//              top: 0.11531734466552734
//            }
//          ]
let res = await client.detectFaces(&#039;img/face2.jpg&#039;);
console.log(res);

// Detect facial details.
// results in:  [
//            {
//              boundingBox: {
//                width: 0.3099822998046875,
//                height: 0.661512017250061,
//                left: 0.5449195504188538,
//                top: 0.11531734466552734
//              },
//              ageRange: { high: 14, low: 6 },
//              gender: &#039;female&#039;,
//              emotions: {
//                happy: 99.78905487060547,
//                surprised: 6.306276321411133,
//                fear: 5.880091190338135,
//                sad: 2.152125835418701,
//                confused: 0.023256277665495872,
//                angry: 0.018351631239056587,
//                calm: 0.015775982290506363,
//                disgusted: 0.013914424926042557
//              }
//            }
//          ]
const minConfidence = 90;
const withDetails = true;
res = await client.detectFaces(&#039;img/face2.jpg&#039;, minConfidence, withDetails);
console.log(res);

// Detect faces from data URL.
await client.detectFaces(&#039;data:image/png;base64,/9j/4...&#039;);

// Detect faces from buffer.
await client.detectFaces(fs.readFileSync(&#039;img.jpg&#039;));</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public compareFaces()</code></td>
          <td>
            Compare the similarity of two faces.
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>img1: string</code>
                <!--begin::Block-->
                <div class="pt-3">Image path or Data Url or image buffer.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>img2: string</code>
                <!--begin::Block-->
                <div class="pt-3">Image path or Data Url or image buffer.</div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Return:</h5>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;number&gt;</code> Level of confidence that the faces match.</li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#compare-faces-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#compare-faces-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="compare-faces-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;
import fs from &#039;fs&#039;;

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Compare faces from path.
await client.compareFaces(&#039;img1.jpg&#039;, &#039;img2.jpg&#039;);

// Compare faces from data URL.
await client.compareFaces(&#039;data:image/png;base64,/9j/4...&#039;, &#039;data:image/png;base64,/9j/4...&#039;);

// Compare faces from buffer.
await client.compareFaces(fs.readFileSync(&#039;img1.jpg&#039;), fs.readFileSync(&#039;img1.jpg&#039;));</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="compare-faces-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);
const fs = require(&#039;fs&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Compare faces from path.
await client.compareFaces(&#039;img1.jpg&#039;, &#039;img2.jpg&#039;);

// Compare faces from data URL.
await client.compareFaces(&#039;data:image/png;base64,/9j/4...&#039;, &#039;data:image/png;base64,/9j/4...&#039;);

// Compare faces from buffer.
await client.compareFaces(fs.readFileSync(&#039;img1.jpg&#039;), fs.readFileSync(&#039;img1.jpg&#039;));</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public createCollection()</code></td>
          <td>
            Add faces to the collection using the IndexFaces operation.<br>
            For example, you might create collections, one for each of your application users.<br>
            A user can then index faces using the IndexFaces operation and persist results in a specific collection.<br>
            Then, a user can search the collection for faces in the user-specific container.
            <!--begin::Block-->
            <div class="py-5">
              <!--begin::Notice-->
              <div class="notice d-flex align-items-center bg-light-primary rounded min-w-lg-600px flex-shrink-0 p-6">
                <!--begin::Icon-->
                <i class="ki-duotone ki-information-3 fs-2tx text-primary me-4">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </i>
                <!--end::Icon-->
                <!--begin::Description-->
                <div class="text-gray-700 fw-bold fs-6">
                  Note that Collection names are case-sensitive.
                </div>
                <!--end::Description-->
              </div>
              <!--end::Notice-->
            </div>
            <!--end::Block-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>collectionId: string</code>
                <!--begin::Block-->
                <div class="pt-3">ID for the collection that you are creating. The maximum length is 255, and the characters that can be used are <code>[a-zA-Z0-9_.\-]+</code>.</div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#create-collection-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#create-collection-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="create-collection-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Creates a collection.
await client.createCollection(&#039;MyCollection&#039;);</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="create-collection-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Creates a collection.
await client.createCollection(&#039;MyCollection&#039;);</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public listCollections()</code></td>
          <td>
            Returns list of collection IDs.
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Return:</h5>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;string[]&gt;</code> An array of collection IDs.</li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#list-collections-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#list-collections-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="list-collections-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;
        
// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Find the collection IDs.
// results in: [
//           &#039;MyCollection&#039;,
//           &#039;AnotherCollection&#039;
//         ]
await client.listCollections();</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="list-collections-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Find the collection IDs.
// results in: [
//           &#039;MyCollection&#039;,
//           &#039;AnotherCollection&#039;
//         ]
await client.listCollections();</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public deleteCollection()</code></td>
          <td>
            Deletes the specified collection.<br>
            Note that this operation removes all faces in the collection.
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>collectionId: string</code>
                <!--begin::Block-->
                <div class="pt-3">ID of the collection to delete.</div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Return:</h5>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;boolean&gt;</code> True on success.</li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#delete-collection-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#delete-collection-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="delete-collection-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Delete collection.
await client.deleteCollection(&#039;MyCollection&#039;);</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="delete-collection-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Delete collection.
await client.deleteCollection(&#039;MyCollection&#039;);</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public indexFace()</code></td>
          <td>
            Detects one face in the input image and adds it to the specified collection.
            <!--begin::Block-->
            <div class="py-5">
              <!--begin::Notice-->
              <div class="notice d-flex align-items-center bg-light-primary rounded min-w-lg-600px flex-shrink-0 p-6">
                <!--begin::Icon-->
                <i class="ki-duotone ki-information-3 fs-2tx text-primary me-4">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </i>
                <!--end::Icon-->
                <!--begin::Description-->
                <div class="text-gray-700 fw-bold fs-6">
                  Note that this method is used to index one face.<br>Throws an exception if no face is found in the input image or multiple faces are found.
                </div>
                <!--end::Description-->
              </div>
              <!--end::Notice-->
            </div>
            <!--end::Block-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>collectionId: string</code>
                <!--begin::Block-->
                <div class="pt-3">The ID of an existing collection to which you want to add the faces that are detected in the input images.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>img: string</code>
                <!--begin::Block-->
                <div class="pt-3">Image path or Data Url or image buffer.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.externalImageId: string|undefined</code>
                <!--begin::Block-->
                <div class="pt-3">
                  The ID you want to assign to the faces detected in the image.<br>
                  When you call the <code>listFaces</code> operation, the response returns the external ID.<br>
                  You can use this external image ID to create a client-side index to associate the faces with each image.<br>
                  You can then use the index to find all faces in an image.<br>
                  The maximum length is 255, and the characters that can be used are <code>[a-zA-Z0-9_.\-:]+</code>.
                </div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.returnDetails: boolean</code>
                <!--begin::Block-->
                <div class="pt-3">
                  If <code>false</code>, only the face ID of the created face is returned.<br>
                  If <code>true</code>, returns the face ID of the created face, plus age range, gender, and emotion.
                </div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Return:</h5>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;string|<a href="index-face-details-interface.html">IndexFaceDetails</a>&gt;</code>
                <!--begin::Block-->
                <div class="pt-3">
                  If <code>options.returnDetails</code> is <code>false</code>, the face identifier is returned.<br>
                  If <code>options.returnDetails</code> is <code>true</code>, returns the gender, age group, and emotion in addition to the face identifier.
                </div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#index-face-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#index-face-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="index-face-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;
import fs from &#039;fs&#039;;

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Create a face and get the ID of the created face.
// results in: e65d66cb-e7bc-4bbf-966c-b1b49ddf29f8
const faceId = await client.indexFace(collectionId, &#039;img.jpg&#039;);
console.log(faceId);

// Create a face and get the details of the created face.
// results in:  {
//            faceId: &#039;7f2dd321-f047-44ff-8856-864637e1d286&#039;,
//            ageRange: { high: 29, low: 21 },
//            gender: &#039;female&#039;,
//            emotions: {
//              angry: 77.1907958984375,
//              surprised: 9.944050788879395,
//              fear: 7.514361381530762,
//              confused: 4.780297756195068,
//              sad: 2.91914963722229,
//              happy: 2.5718722343444824,
//              disgusted: 1.933768391609192,
//              calm: 1.5354809761047363
//            }
//          }
const faceDetails = await client.indexFace(collectionId, &#039;img.jpg&#039;, {returnDetails: true});
console.log(faceDetails);

// You can also index face images in DataURL format.
await client.indexFace(&#039;MyCollection&#039;, &#039;data:image/png;base64,/9j/4...&#039;);

// Buffer face images can also be indexed.
await client.indexFace(&#039;MyCollection&#039;, fs.readFileSync(&#039;img.jpg&#039;));</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="index-face-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);
const fs = require(&#039;fs&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Create a face and get the ID of the created face.
// results in: e65d66cb-e7bc-4bbf-966c-b1b49ddf29f8
const faceId = await client.indexFace(collectionId, &#039;img.jpg&#039;);
console.log(faceId);

// Create a face and get the details of the created face.
// results in:  {
//            faceId: &#039;7f2dd321-f047-44ff-8856-864637e1d286&#039;,
//            ageRange: { high: 29, low: 21 },
//            gender: &#039;female&#039;,
//            emotions: {
//              angry: 77.1907958984375,
//              surprised: 9.944050788879395,
//              fear: 7.514361381530762,
//              confused: 4.780297756195068,
//              sad: 2.91914963722229,
//              happy: 2.5718722343444824,
//              disgusted: 1.933768391609192,
//              calm: 1.5354809761047363
//            }
//          }
const faceDetails = await client.indexFace(collectionId, &#039;img.jpg&#039;, {returnDetails: true});
console.log(faceDetails);

// You can also index face images in DataURL format.
await client.indexFace(&#039;MyCollection&#039;, &#039;data:image/png;base64,/9j/4...&#039;);

// Buffer face images can also be indexed.
await client.indexFace(&#039;MyCollection&#039;, fs.readFileSync(&#039;img.jpg&#039;));</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public searchFaces()</code></td>
          <td>
            For a given input image, first detects the largest face in the image, and then searches the specified collection for matching faces.<br>
            The operation compares the features of the input face with faces in the specified collection.
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>collectionId: string</code>
                <!--begin::Block-->
                <div class="pt-3">ID of the collection to search.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>img: string</code>
                <!--begin::Block-->
                <div class="pt-3">Image path or Data Url or image buffer.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.minConfidence: number</code>
                <!--begin::Block-->
                <div class="pt-3">
                  Specifies the minimum confidence in the face match to return.<br>
                  The default value is 80%.
                </div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.maxFaces: number</code>
                <!--begin::Block-->
                <div class="pt-3">
                  Maximum number of faces to return.<br>
                  The operation returns the maximum number of faces with the highest confidence in the match.<br>
                  The default value is 5.
                </div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.throwNotFoundFaceException: boolean</code>
                <!--begin::Block-->
                <div class="pt-3">If true, throws a <code>FaceMissingInPhoto</code> exception when a face is not found in the image; if false, returns null. Default is false.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>options.throwTooManyFaceException: booleanr</code>
                <!--begin::Block-->
                <div class="pt-3">If true, throws a <code>FacesMultipleInPhoto</code> exception when more than one face is found in the image. Default is false.</div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Return:</h5>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;<a href="face-match-interface.html">FaceMatch</a>[]|<a href="face-match-interface.html">FaceMatch</a>|null&gt;</code>
                <!--begin::Block-->
                <div class="pt-3">
                  If <code>options.maxFaces</code> is 1, the face information found is returned.<br>
                  If <code>options.maxFaces</code> is 2 or more, the list of face information found is returned.<br>
                  Returns <code>null</code> if no face is found.
                </div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#search-faces-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#search-faces-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="search-faces-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;
import fs from &#039;fs&#039;;

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// If you want to search for one face, specify 1 for the maxFaces option.
// In that case, the search result will return the face data for one person.
// results in: {
//           faceId: &#039;2ce7f471-9c4b-4f27-b5a4-bbd02a5e134d&#039;,
//           boundingBox: {
//             width: 0.500495970249176,
//             height: 0.6926820278167725,
//             left: 0.2928670048713684,
//             top: 0.09095799922943115
//           },
//           externalImageId: &#039;img.jpg&#039;,
//           similarity: 99.98941802978516
//         }
const match = await client.searchFaces(&#039;MyCollection&#039;, &#039;img.jpg&#039;, {minConfidence: 99, maxFaces: 1});
console.log(match);

// If you want to search for multiple faces, specify 2 or more for the maxFaces option.
// In that case, the search results will return a list of the face data of multiple people found.
// results in: [
//           {
//             faceId: &#039;2ce7f471-9c4b-4f27-b5a4-bbd02a5e134d&#039;,
//             boundingBox: {
//               width: 0.500495970249176,
//               height: 0.6926820278167725,
//               left: 0.2928670048713684,
//               top: 0.09095799922943115
//             },
//             externalImageId: &#039;img.jpg&#039;,
//             similarity: 99.98941802978516
//           }
//         ]
const matches = await client.searchFaces(&#039;MyCollection&#039;, &#039;img.jpg&#039;, {minConfidence: 99, maxFaces: 5});
console.log(matches);

// The input image can specify a buffer or DataURL in addition to the image path.
await client.searchFaces(&#039;MyCollection&#039;, &#039;data:image/png;base64,/9j/4...&#039;);
await client.searchFaces(&#039;MyCollection&#039;, fs.readFileSync(&#039;img.jpg&#039;));</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="search-faces-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);
const fs = require(&#039;fs&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// If you want to search for one face, specify 1 for the maxFaces option.
// In that case, the search result will return the face data for one person.
// results in: {
//           faceId: &#039;2ce7f471-9c4b-4f27-b5a4-bbd02a5e134d&#039;,
//           boundingBox: {
//             width: 0.500495970249176,
//             height: 0.6926820278167725,
//             left: 0.2928670048713684,
//             top: 0.09095799922943115
//           },
//           externalImageId: &#039;img.jpg&#039;,
//           similarity: 99.98941802978516
//         }
const match = await client.searchFaces(&#039;MyCollection&#039;, &#039;img.jpg&#039;, {minConfidence: 99, maxFaces: 1});
console.log(match);

// If you want to search for multiple faces, specify 2 or more for the maxFaces option.
// In that case, the search results will return a list of the face data of multiple people found.
// results in: [
//           {
//             faceId: &#039;2ce7f471-9c4b-4f27-b5a4-bbd02a5e134d&#039;,
//             boundingBox: {
//               width: 0.500495970249176,
//               height: 0.6926820278167725,
//               left: 0.2928670048713684,
//               top: 0.09095799922943115
//             },
//             externalImageId: &#039;img.jpg&#039;,
//             similarity: 99.98941802978516
//           }
//         ]
const matches = await client.searchFaces(&#039;MyCollection&#039;, &#039;img.jpg&#039;, {minConfidence: 99, maxFaces: 5});
console.log(matches);

// The input image can specify a buffer or DataURL in addition to the image path.
await client.searchFaces(&#039;MyCollection&#039;, &#039;data:image/png;base64,/9j/4...&#039;);
await client.searchFaces(&#039;MyCollection&#039;, fs.readFileSync(&#039;img.jpg&#039;));</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public listFaces()</code></td>
          <td>
            Returns metadata for faces in the specified collection.<br>
            This metadata includes information such as the bounding box coordinates, and face ID.
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>collectionId: string</code>
                <!--begin::Block-->
                <div class="pt-3">ID of the collection from which to list the faces.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>maxResults: number</code>
                <!--begin::Block-->
                <div class="pt-3">Maximum number of faces to return.The default value is 1000.</div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Return:</h5>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;<a href="face-match-interface.html">FaceMatch</a>[]&gt;</code> Returns all face metadata in the collection.</li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#list-faces-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#list-faces-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="list-faces-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Find all face metadata in the collection.
// results in: [
//           {
//             faceId: &#039;2ce7f471-9c4b-4f27-b5a4-bbd02a5e134d&#039;,
//             boundingBox: {
//               width: 0.500495970249176,
//               height: 0.6926820278167725,
//               left: 0.2928670048713684,
//               top: 0.09095799922943115
//             },
//             externalImageId: &#039;img.jpg&#039;
//           }
//         ]
const result = await client.listFaces(&#039;MyCollection&#039;);
console.log(result);</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="list-faces-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Find all face metadata in the collection.
// results in: [
//           {
//             faceId: &#039;2ce7f471-9c4b-4f27-b5a4-bbd02a5e134d&#039;,
//             boundingBox: {
//               width: 0.500495970249176,
//               height: 0.6926820278167725,
//               left: 0.2928670048713684,
//               top: 0.09095799922943115
//             },
//             externalImageId: &#039;img.jpg&#039;
//           }
//         ]
const result = await client.listFaces(&#039;MyCollection&#039;);
console.log(result);</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
        <tr>
          <td><code>public deleteFaces()</code></td>
          <td>
            Deletes faces from a collection.<br>
            You specify a collection ID and an array of face IDs to remove from the collection.
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Parameters:</h5>
            <!--end::Heading-->
            <!--begin::Parameters-->
            <ul>
              <li class="py-2"><code>collectionId: string</code>
                <!--begin::Block-->
                <div class="pt-3">Collection from which to remove the specific faces.</div>
                <!--end::Block-->
              </li>
              <li class="py-2"><code>faceIds: string[]</code>
                <!--begin::Block-->
                <div class="pt-3">An array of face IDs to delete.</div>
                <!--end::Block-->
              </li>
            </ul>
            <!--end::Parameters-->
            <!--begin::Heading-->
            <h5 class="py-3 mb-0">Return:</h5>
            <!--end::Heading-->
            <!--begin::Return-->
            <ul class="list-style-none">
              <li class="py-2"><code>Promise&lt;boolean&gt;</code> True on success.</li>
            </ul>
            <!--end::Return-->
            <!--begin::Code-->
            <div class="pt-3">
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#delete-faces-method-esm-tab" role="tab">ESM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#delete-faces-method-cjs-tab" role="tab">CJS</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="delete-faces-method-esm-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">import * as sweet from &#039;express-sweet&#039;;

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Delete a face from the collection.
await client.deleteFaces(&#039;MyCollection&#039;, [&#039;f7befa24-3b83-43cc-b21f-7fac4b91f51d&#039;]);</code></pre>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="delete-faces-method-cjs-tab" role="tabpanel">
                    <div class="highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">const sweet = require(&#039;express-sweet&#039;);

// Load environment variables.
sweet.middlewares.Environment.mount();

// Rekognition Client.
const client = new sweet.services.AWSRekognitionClient({
  region: process.env.AWS_REKOGNITION_REGION,
  accessKeyId: process.env.AWS_REKOGNITION_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_REKOGNITION_SECRET_ACCESS_KEY,
});

// Delete a face from the collection.
await client.deleteFaces(&#039;MyCollection&#039;, [&#039;f7befa24-3b83-43cc-b21f-7fac4b91f51d&#039;]);</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Highlight-->
            </div>
            <!--end::Code-->
          </td>
        </tr>
      </tbody>
      <!--end::Body-->
    </table>
    <!--end::Table-->
  </div>
  <!--end::Table wrapper-->
</div>
<!--end::Section-->