{{!< default}}
{{#contentFor 'title'}}Dashboard{{/contentFor}}
{{#contentFor 'style'}}<link rel="stylesheet" type="text/css" href="{{baseUrl}}/assets/styles/dashboard.css">{{/contentFor}}
{{#contentFor 'script'}}<script src="{{baseUrl}}/assets/scripts/dashboard.js"></script>{{/contentFor}}
<h1 class="mt-5 text-center">Welcome to Node.js Express</h1>