[data-bs-theme=dark] {
  --bs-code-color: var(--bs-text-gray-800);
  --bs-code-bg: #343434;
}

/* Side menu. */
.menu-item .menu-link .menu-title {
  color: var(--bs-text-gray-800) !important;
}

.menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-title,
.menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title,
.menu-item .menu-link.active .menu-title {
  color: var(--bs-primary) !important;
}

/* Highlight Code. */
.highlight-code > pre[class*=language-] {
  max-height: 200px;
}

  .highlight-code > pre[class*=language-] > code {
    white-space: break-spaces;
  }

/* Non-highlighted codes. */
code:not([class*=language-]) {
  border: 0;
  margin: 0;
}

/* Demonstration area */
.demonstration-block {
  padding: 2.5rem;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: 0.475rem;
}